/* SweetAlert içindeki tablo için */
.swal2-company-details .swal2-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.swal2-company-details .swal2-table th {
    padding: 4px 8px;
    font-weight: 600;
    width: 35%;
}
.swal2-company-details .swal2-table td {
    padding: 4px 8px;
}

/* Tablo ikon hover efekti */
.company-table td svg {
    transition: transform .2s, color .2s;
}
.company-table td svg:hover {
    transform: scale(1.2);
    color: #0d6efd;
}
